PORT=3000
TELEGRAM_BOT_TOKEN=8906011226:AAH1ryuK-p3BJRh0-yQIgFa9VF8yHRWV2VQ
TELEGRAM_CHAT_ID=6665401611

# MySQL Database Credentials
DB_HOST=sql206.infinityfree.com
DB_USER=if0_41620120
DB_PASS=UwEwIeW5PU5
DB_NAME=if0_41620120_coins
DB_PORT=3306
